*.class
*.log
*.swp
.gradle/*
target/*
main/target/*
builders/build/*
builders/target/*
unit/build/*
unit/target/*
integration/build/*
integration/target/*
functional/build/*
functional/target/*
main/.idea/*
unit/.idea/*
integration/.idea/*
functional/.idea/*
main/main.iml
builders/builders.iml
unit/unit.iml
integration/integration.iml
functional/functional.iml
.classpath
builders/.classpath
functional/.classpath
integration/.classpath
main/.classpath
unit/.classpath
build/*
out/*
.idea/*
.DS_Store
Thumbs.db
*.jar
*.war
*.ear
.classpath 
.project
.settings
stubby4j.iml
stubby4j.ipr
stubby4j.iws
*.iml
**/bin/**