*.class
*.log
*.swp
.gradle/*
target/*
**/target/*
build/*
main/build/*
unit/build/*
integration/build/*
functional/build/*
main/.idea/*
unit/.idea/*
integration/.idea/*
functional/.idea/*
main/main.iml
unit/unit.iml
integration/integration.iml
functional/functional.iml
.classpath
functional/.classpath
integration/.classpath
main/.classpath
unit/.classpath
build/*
out/*
.idea/*
.DS_Store
Thumbs.db
*.jar
*.war
*.ear
.classpath 
.project
.settings
stubby4j.iml
stubby4j.ipr
stubby4j.iws
*.iml
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

