*.class
*.log
*.swp
target/*
build/*
out/*
.idea/*
.DS_Store
Thumbs.db
# Package Files #
*-shaded.jar
*.war
*.ear
# Eclipse Files #
.classpath 
.project
.settings
dependency-reduced-pom.xml
release.properties
pom.xml.releaseBackup
stubby4j.iml
