---
---

@import "{{ site.theme }}";

// Headers
$header-heading-color: #ece4d8 !default;
$header-sub-heading-color: #e69b95 !default;
$header-background-color: #7c334f !default;

body {
  background: #ece4d8;
  font: normal normal 15px/1.5 Georgia, Palatino,” Palatino Linotype”, Times, “Times New Roman”, serif;
  color: #544943;
  -webkit-font-smoothing: antialiased;
}

.main-content {
  @include large {
    max-width: 75rem;
  }
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-background-color;
  background-image: none;

  @include large {
    padding: 1rem 20rem;
  }
}

.page-header h2 {
    color: $header-sub-heading-color;
}
