---
---

@import "{{ site.theme }}";
@import "rouge-github";

// Headers
$header-heading-color: #ece4d8 !default;
$header-sub-heading-color: #fcf5f4 !default;
$header-background-color: #7c334f !default;

body {
  background: #ece4d8;
  font: normal normal 15px/1.5 Georgia, Palatino,” Palatino Linotype”, Times, “Times New Roman”, serif;
  color: #544943;
  -webkit-font-smoothing: antialiased;
}

.main-content {
  @include large {
    max-width: 75rem;
  }
}

.btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 138px;
    height: 138px;
    display: block;
    background: transparent url(../images/fork-sprite.png) 0 0 no-repeat;
    text-indent: -9000px;
    z-index: 3;
    border: none;
}


.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-background-color;
  background-image: none;

  @include large {
    padding: 1rem 20rem;
  }
}

.page-header h1 {
    font-family: 'Open Sans', Myriad, Calibri, sans-serif;
    font-weight: bold;
}

.page-header h2 {
    color: $header-sub-heading-color;
}

code {
  background-color: #fff6e9;
  font: normal normal .8em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  padding: 0 5px 1px;
}

.main-content .highlight {
  border-radius: 0.3rem !important;
}

.main-content pre {
  margin: 10px 0 20px;
  padding: .7em;
  background-color: #fff6e9;
  border-color: #e5ddd1;
  border-radius: 0.3rem;
  border-bottom: 2px solid #bdb6ad;
  font: normal normal .9em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  overflow: auto;
}

.main-content code {
  background-color: #fff6e9;
}

.main-content pre code {
  font: normal normal 1em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  padding: 0;
}

.main-content table {
  display: table !important;
  background: #fff6e9;
  width: 100%;
  border-collapse: separate;
  border-bottom: 2px solid #bdb6ad;
  margin: 10px 0;
}

tr {
  display: table-row;
}

th {
  display: table-cell;
  padding: 2px 10px;
  border: solid #ece4d8;
  border-width: 0 2px 2px 0;
  color: #cd596b;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  font-weight: bold;
  font-size: .85em;
}

td {
  display: table-cell;
  padding: 0 .7em;
  border: solid #ece4d8;
  border-width: 0 2px 2px 0;
}

td:last-child, th:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

.main-content h1 {
  font-size: 1.85em;
  border-bottom: .2em double #d3ccc1;
  color: #7c334f;
  text-align: center;
  font-style: italic;
  margin: 1.1em 0 .38em;
  line-height: 1.2;
  padding-bottom: 10px
}

.main-content h2 {
  font-size: 1.58em;
  color: #7c334f;
  margin: .95em 0 .5em;
  border-bottom: .1em solid #D3CCC1;
  line-height: 1.2;
  padding-bottom: 10px
}

.main-content h3 {
  margin: 20px 0 10px;
  font-size: 1.45em;
  color: #544943;
}

.main-content h4 {
  margin: .6em 0;
  font-size: 1.2em;
  color: #cd596b;
}

.main-content h5 {
  margin: .7em 0;
  font-size: 1em;
  color: #8b786f;
}

.main-content h6 {
  margin: .8em 0;
  font-size: .85em;
  font-style: italic;
}

.main-content details {
    border-radius: 10px;
    padding: 0px 8px;
    margin-bottom: 15px;
}

.main-content details[open] {
    padding: 0px 8px 8px 8px;
}

.main-content summary {
    margin: 0px 0px 8px 0px;
    outline:none;
    display: revert;
    cursor: pointer;
}

.main-content ::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    white-space: pre;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    cursor: pointer;
}

.main-content details::marker {
    color: #417090;
}

.main-content summary::marker {
    color: #417090;
}

