body {
   background-color: #fff;
   color: #404040;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: normal;
   line-height: 18px;
}

table {
   background-color: #dedede;
   color: #333333;
   font-size: 0.9em;
   line-height: 1.58;
}

table thead th {
   border: 1px solid #4D90FE
}

table th, table td {
   padding: 3px 8px
}

table td {
   border: 1px solid #aaaaaa;
   vertical-align: top;
}

table {
   border: 1px solid #aaaaaa;
   border-collapse: collapse;
   border-spacing: 0;
   margin: 0 0 0.8em;
}

th {
   background-color: #6199DF;
   color: #FFFFFF;
   font-weight: bold;
}

td {
   float: none !important;
   font-weight: normal;
   text-align: left;
   vertical-align: middle;
}

div#popup-mask {
   background-color: #666;
   display: none;
   left: 0;
   position: absolute;
   top: 0;
   z-index: 9000;
}

div#popup-window {
   display: none;
   height: 300px;
   left: 0;
   padding: 20px;
   position: fixed;
   top: 0;
   width: 45%;
   z-index: 9999;
   /*
   opacity: 0.9;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
   filter: alpha(opacity=90);  For IE8 and earlier */
}

div#popup-window {
   -moz-background-clip: padding-box; /* Firefox 3.6 */
   -webkit-background-clip: padding-box; /* Safari 4? Chrome 6? */
   background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
   border: 13px solid rgb(0, 0, 0);
   border: 13px solid rgba(0, 0, 0, .5);
}

.popup-dialog {
   background: none repeat scroll 0 0 #F9EDBE;
   color: #222;
   border-radius: 26px;
   box-shadow: 0 0 4px rgba(0, 0, 0, 1);
   -moz-border-radius: 26px;
   -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 1);
   -webkit-border-radius: 26px;
   -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

.popup-dialog .dismiss-container {
   top: 0;
   left: 0;
   position: absolute;
   width: 100%;
   cursor: move;
}

.popup-dialog .dialog-dismiss {
   color: #7F7F7F !important;
   float: right;
   font: 30px Arial, sans-serif;
   margin: 6px 20px;
   text-decoration: none;
}

.popup-dialog .dialog-title {
   float: left;
   margin: 14px 0px 0px 20px;
}

.popup-dialog .dialog-title span {
   color: #7F7F7F !important;
   font: 18px Arial, sans-serif;
   text-decoration: none;
}

.popup-dialog .close-dialog {
   background: #D14836 0;
   border: 1px solid transparent;
   border-radius: 3px;
   color: #FFF;
   cursor: pointer;
   display: inline-block;
   font: bold 11px/27px "Arial", "Helvetica", sans-serif;
   height: 27px;
   min-width: 54px;
   -moz-border-radius: 3px;
   -moz-transition: all 0.218s ease 0;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   padding: 0 8px;
   text-align: center;
   text-shadow: 0 1px rgba(0, 0, 0, 0.1);
   text-transform: uppercase;
   -webkit-border-radius: 3px;
}

.popup-dialog .close-dialog:hover {
   background-color: #C53727;
   background-image: 0;
   border-color: #B0281A #B0281A #AF301F;
   border-style: solid;
   border-width: 1px;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
   color: #FFF;
   moz-border-bottom-colors: none;
   moz-border-image: none;
   moz-border-left-colors: none;
   moz-border-right-colors: none;
   moz-border-top-colors: none;
}

.popup-dialog p {
   font-family: Arial, sans-serif !important;
   font-size: 13px !important;
}

div#inner-dialog {
   background-color: #FDF6E3;
   border: 1px solid gray;
   border-radius: 7px;
   height: 210px;
   moz-border-radius: 7px;
   overflow: auto;
   padding: 8px;
   webkit-border-radius: 7px;
}

div#inner-dialog pre {
   margin-top: 0
}

div#inner-dialog-stats {
   height: 210px;
   overflow: auto;
   padding: 8px;
   font: 10px sans-serif;
   text-align: center;
}

div#popup-window label {
   top: 25px;
   left: 42%;
   position: relative;
   float: left;
}

.axis text {
   font: 10px sans-serif;
}

.axis path,
.axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}

.bar {
   fill: #6BAF71;
   fill-opacity: .9;
}

.x.axis path {
   display: none;
}