<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{%- if page.title and page.title != site.title %}{{ page.title }} - {% endif -%}{{ site.title }}</title>
    <link rel="canonical" href="{%- if page.url == '/' %}{{site.url}}{%- else -%}{{page.url | absolute_url}}{%- endif -%}">
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="rating" content="general">

    <!--[if IEMobile]><meta http-equiv="cleartype" content="on"><![endif]-->

    <!-- Custom <head> section -->
    {% include head-custom.html %}

    <!-- Setup Google Analytics -->
    {%- include head-custom-google-analytics.html %}

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>

    <!-- Mobile tags -->
    <meta name="theme-color" content="#7c334f">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- CSS -->
    <!-- Tag site.github.build_revision comes up as empty string -->
    <!-- <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> -->
    {%- assign built_at = "now" | date: "%s" %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?built_at=' | append: built_at }}">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
    <link rel="shortcut icon" type="image/png" sizes="48x48" href="{{ '/favicon-48x48.png' | relative_url }}">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <!-- <a class="github-fork-ribbon right-top fixed" href="{{ site.github.repository_url }}" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a> -->
    <p><span id="forkongithub"><a href="{{ site.github.repository_url }}" title="Fork me on GitHub">Fork me on GitHub</a></span></p>
    
    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="https://stubby4j.com">{{ site.title }}</a></h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>

